html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px / 1 sans-serif;
}

h1.logo {
  background-image: url('/images/designco-logo.png');
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  color: transparent;
  width: 4em;
}

h2 {
  font-size: 2em;
}

nav .top-menu {
  margin: 0 auto;
  padding: 0 75px;
  max-width: 740px;

}
.top-menu {
  background-color: rgb(213, 214, 212);
}

ul.navigation {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px;
  margin: 0;
  border-top: 0.2em solid red;
}

#all-content {
    max-width: 600px;
    margin: auto;
}

#upper {
  max-width: 350px;
  margin: auto;
}


#lower a {
  font-size: 0.7em;
}
#lower > div {
  width: 150px;
}


a.nav {
  color: inherit;
  text-decoration: none;
}

.details {
  text-align: center;
  margin: auto;
}

.pics-area {
  display: flex;
  justify-content:center;
}

.pics {
  margin: 0.5em;
}

.new {
  flex:1;
}

#lower {
  display: flex;
  justify-content: space-around;
  text-align: left;
  margin-left: 30px;
}

.modern-layout {
  width: 500px;
  flex: 3;
}

.modern-layout p {
  column-count: 3;
}
